VITE_SUPABASE_URL=https://eyzojcbugyverahtngup.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_xTl04N6KI06bWaRwXRmenA_D--Ew4A8
VITE_ADMIN_SECRET=your-admin-secret-path
VITE_IMGBB_API_KEY=1df5771fa1171fa37c2188ecbce9600e
